
<div class="container inline block text-center">
    <!--Header-->
    <div class="navbar shadow sm">
        <div class="align-item center d-flex">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Find member by skill">
            </div>
            <i class="bi bi-search"></i> 
        </div>
        <button class="btn" [routerLink]="['/heist']" routerLinkActive="router-link-active" >
            <i class="bi bi-cash-coin" style="font-size: 50px; color: white;" ></i>
            <span class="badge rounded-pill bg-danger">Heist</span>
        </button>
    </div>

    <div class="rows">
        <h1 class="text">Member List</h1>
        <div class="text-center"><button class="button" [routerLink]="['/create-member']" routerLinkActive="router-link-active">Add new member</button></div>
        <ng-container *ngFor="let member of members">
            <div class="card col-md-3" style="width: 17rem;">
                <img src="{{member.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{member.name | uppercase}}</h5>
                    <p class="card-text">Email:{{member.email}}</p>
                    <p class="card-text">Sex: {{member.sex}}</p>
                    <p class="card-text">Skill: {{member.skill}}</p>
                    <p class="card-text">Status: {{member.status}}</p>
                    <a href="#" class="btn center" style="color: white; background-color: red;">Add to heist</a>
                    <button (click)= "updateMember(member.id)" class="btn btn-dark">Edit</button>
                    <button (click)= "deleteMember(member.id)" class="btn btn-dark"><i class="bi bi-trash"></i></button>
                </div>
        </div>
    </ng-container>
    </div>
</div>

  
