.card {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
}

.container {
    background-color: black;
}

h1 {
    margin-top: 10px;
    color: white;
    font-family: 'Shalimar', cursive;
    font-size: 130px;
}

.text {
    text-align: center;
    margin-bottom: 30px;
}

.button {
    color: black;
    background-color: red;
    border: 1px solid black;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.btn-dark {
    border: 1px solid white;
    margin-left: 4px;
}

.search-icon {
    position: absolute;
    top: 20px;
    color: white;
}
