.container {
    position: relative;
}

.text-block {
    position: absolute;
    background-color: black;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shalimar', cursive;
    background-color: transparent;
}

.text-block h1 {
    font-size: 120px;
    position: center;
}

.text-block h2 {
    font-size: 40px;
    text-align: center;
}

.btn {
    background-color: red;
    border: 3px solid black;
    color: black;
    position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    font-size: 20px;
}